extends baseEmail

block content
    p Hi #{firstName},
    p forget your password? not problem submit patch request to link and enter password and confirm password to #{url}
    p (Website for this action noy yet implation)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
        tr
        td(align='left')
        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
            tr
            td
            a(href=`${url}`, target='_blank') Reset your Paswword
    p if you do not forget ignore this message
